.button {
    background-color: Transparent;
    background-repeat: no-repeat;
    border: none;
    overflow: hidden;
    outline: none;
    color: white;
    align-self: center;
}

.image-container {
    width: 250px;
    margin-top: 30px;
}

.image {
    border: 2px solid #aaa;
    text-align: center;
    width: 250px;
}

.file-name {
    font-family: Arial, Helvetica, sans-serif;
}

.textarea {
    border: 2px dashed #ddd;
    width: 250px;
    margin-top: 30px;
    margin-bottom: 30pc;
}

.file-drop-zone {
    border: 2px dashed #ddd;
    padding: 30px;
    text-align: center;
    width: 250pc;
}

.file-drop-zone-over {
    border: 2px dashed #aaa;
    padding: 30px;
    text-align: center;
    width: 250px;
}

.remove {
    float: right;
    color: green;
}

.remove:hover {
    color: red;
    cursor: pointer;
    font-size: 16px;
}

.round-magic-div {
    width: 90px;
    height: 90px;
    /* background-color: rgba(0, 137, 123, 0.9); */
    justify-content: center;
    align-items: center;
    border-radius: 100%;
    text-align: center;
    display: flex;
    margin: 0;
    position: absolute;
    left: 50%;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}