<div class="col-md-9" style="align-self: center" ng-controller="ProfileCtrl as vm">

    <div class="jumbotron col-md-12" style=" margin: auto; margin-left:16%; background:  rgba(66,66,66, 0.4);">
        <!-- style="width: 800px; height: 600px; margin: auto; margin-top: 5%; background:  rgba(66,66,66, 0.3); " -->
        <!-- <ul class="nav nav-tabs">
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!test"><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#!profile"><i class="fa fa-user"style="margin-right: 5px;"></i>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa fa-bell"style="margin-right: 5px;"></i></i>News</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#"><i class="fa fa-sign-out"style="margin-right: 5px;"></i>Log out</a>
            </li>
        </ul> -->


        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">
                <h1>templatesHOW</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                      <span class="navbar-toggler-icon"></span>
                    </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item ">
                        <a class="nav-link " data-toggle="tab" href="#!home"><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link active" data-toggle="tab" href="#!profile"><i class="fa fa-user"style="margin-right: 5px;"></i>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fa fa-bell"style="margin-right: 5px;"></i></i>News</a>
                    </li>
                    <!-- <li class="nav-item">
                            <a class="nav-link" data-toggle="tab" href="#"><i class="fa fa-sign-out"style="margin-right: 5px;"></i>Log out</a>
                        </li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
                        <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button> -->
                    <h6>{{vm.username}}</h6>
                    <a class="nav-link" data-toggle="tab" href="#"><i class="fa fa-sign-out"style="margin-right: 5px;"></i>Log out</a>
                </form>
            </div>
        </nav>




        <div id="myTabContent" class="tab-content" style="margin-top: 5%">
            <div class="tab-pane fade" id="home">
                <p>Users:</p>
                <table>
                    <tr ng-repeat="x in records">
                        <td>{{x}}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade active show" id="profile">
                <!-- TODO pagina profile -->

                <div class="rounded-circle text-center round-magic-div">{{vm.username}}</div>
            </div>

            <div class="jumbotron" style=" height: 100% ;background: rgba(66,66,66, 0.0);">
                <hr class="my-4" style="margin-top:20%">
                <h5 class="display-4 text-center" style="margin-bottom: 5%">Enjoy your creation!</h5>


                <div class="btn-group btn-group-toggle " data-toggle="buttons" style="
                    justify-content: center;
                    align-items: center;
                    border-radius: 100%;
                    text-align: center;
                    display: flex;
                    margin: 0;
                    position: absolute;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);
                ">
                    <label class="btn " style="background-color:rgba(0,137,123,0.9);">
                        <!-- <input type="checkbox" checked="" autocomplete="off"> Add -->
                        <a class="nav-link" data-toggle="tab" href="#!newphoto" style="color:white;">Add</a>
                    </label>
                    <label class="btn " style="background-color:rgba(0,137,123,0.9);">
                        <!-- <input type="checkbox" autocomplete="off"> Delete -->
                        <a class="nav-link" data-toggle="tab" href="#!profile" style="color:white">Delete</a>
                    </label>
                    <label class="btn " style="background-color:rgba(0,137,123,0.9);">
                        <!-- <input type="checkbox" autocomplete="off"> Edit -->
                        <a class="nav-link " data-toggle="tab" href="#!profile" style="color:white">Edit</a>
                    </label>
                </div>


                <div style="margin-top: 13%; ">
                    <div class="card border-dark mb-3" style="max-width: 25rem;  margin-top:3%; margin-left: 20%;" ng-repeat="item in vm.posts">
                        <div class="card-body">
                            <p class="lead" style="margin-top: 1%; margin-right: 1%" align="right">
                                <button type="submit" class="btn btn-success btn-lg" style="align-self: right" ng-click="vm.showItem(item)"><i class="fa fa-code"></i></button>
                            </p>
                            <div class="text-center" style="margin-top:5%">
                                <!-- <img src="assets/picUI2.jpg" class="img-rounded" alt="Cinque Terre" style="
                                        width:100%;
                                        height: 100%;"> -->
                                <!-- <img src="http://localhost:3000/test.jpg" alt="asta e poza" class="img-rounded" style="
                                width:100%;
                                height: 100%;" /> -->
                                <img src="{{item.photo}}" alt="asta e poza" class="img-rounded" style="
                                width:100%;
                                height: 100%;" />
                            </div>
                        </div>

                        <div class="card-text text-center " style="margin:4%">{{item.description}}</div>

                    </div>


                </div>
            </div>


        </div>

        <div id="loading" class="modal" ng-if="vm.displayModal">
            <div class="modal-content" style="width: 600px;">
                <div style="color: #000">
                    <!-- <i id="spinner" class="fa fa-circle-o-notch fa-spin" style="font-size:24px"></i>
                    <span> Va rugam asteptati ...</span> -->
                    <!-- <button ng-click="vm.close()">Close</button> -->
                    <!-- <textarea>
                            {{vm.code}}
                    </textarea> -->
                    <p class="lead" style="margin-top: 1%; margin-right: 1%" align="right">
                        <button type="submit" class="btn btn-info btn-lg" style="align-self: right" ng-click="vm.close()"><i class="fa fa-copy"></i></button>
                        <button type="submit" class="btn btn-danger btn-lg" style="align-self: right" ng-click="vm.close()"><i class="fa fa-window-close"></i></button>
                    </p>
                    <textarea readonly id="form7" class="md-textarea form-control" style="height: 100%px; min-height: 500px">{{vm.codeToShow}}</textarea>

                </div>
            </div>
        </div>
    </div>

    <style>
        .modal {
            display: block;
            position: fixed;
            z-index: 10000;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: rgb(0, 0, 0);
            background-color: rgba(0, 0, 0, 0.4);
        }
        
        .modal-content {
            background-color: "secondary";
            margin: 15% auto;
            padding: 20px;
            border: 1px "secondary";
            width: 15%;
        }
    </style>