<div class="col-md-9" style="align-self: center" ng-controller="TestCtrl as vm">

    <div class="jumbotron col-md-12" style="height: 1000px; margin: auto; margin-left:16%; background:  rgba(66,66,66, 0.4);">
        <!-- style="width: 800px; height: 600px; margin: auto; margin-top: 5%; background:  rgba(66,66,66, 0.3); " -->




        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">
                <h1>templatesHOW</h1>
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>

            <div class="collapse navbar-collapse" id="navbarColor03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link active" data-toggle="tab" href=""><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#!profile"><i class="fa fa-user"style="margin-right: 5px;"></i>Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="#"><i class="fa fa-bell"style="margin-right: 5px;"></i></i>News</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" data-toggle="tab" href="#"><i class="fa fa-sign-out"style="margin-right: 5px;"></i>Log out</a>
                    </li> -->
                </ul>
                <form class="form-inline my-2 my-lg-0">
                    <!-- <input class="form-control mr-sm-2" type="text" placeholder="Search">
                    <button class="btn btn-secondary my-2 my-sm-0" type="submit">Log out</button> -->
                    <h6>{{vm.username}}</h6>
                    <a class="nav-link" data-toggle="tab" href="#"><i class="fa fa-sign-out"style="margin-right: 5px;"></i>Log out</a>
                </form>
            </div>
        </nav>

        <!-- <ul class="nav nav-tabs col-md-12">
            <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href=""><i class="fa fa-home" style="margin-right: 5px;"></i>Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#!profile"><i class="fa fa-user"style="margin-right: 5px;"></i>Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#"><i class="fa fa-bell"style="margin-right: 5px;"></i></i>News</a>
            </li>
        </ul> -->


        <form class="form-inline my-2 my-lg-0 text-center" style="
                    width: 96%;
                    text-align: center;
                    display: flex;
                    margin: 0;
                    position: absolute;
                    left: 50%;
                    -ms-transform: translateX(-50%);
                    transform: translateX(-50%);">
            <input class="form-control col-md-6" type="text" placeholder="Search">
            <button class="btn btn-secondary my-2 my-sm-0" type="submit">Search</button>
        </form>

        <h1 type="text" ng-model="vm.username" style="margin-top: 2%">Welcome , {{vm.username}} ! </h1>
        <div id="myTabContent" class="tab-content" style="margin-top: 5%">
            <div class="tab-pane fade active show" id="home">
                <p>Users:</p>
                <table>
                    <tr ng-repeat="x in vm.records">
                        <td>{{x.username}}</td>
                    </tr>
                </table>
            </div>
            <div class="tab-pane fade" id="profile">
            </div>

        </div>
    </div>
</div>

</div>